.container{

    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--light-color);
    border-radius: 50%;
    background-color: var(--dark-color-1);
    cursor: pointer;
    z-index: 101;

}

.container img {
    width: 60%;
}