.container{

    width: 100%;
    min-height: calc(100svh - 126.5px);
    padding: 50px 4.5%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.auth_box{

    position: relative;
    width: 69%;
    height: 500px;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0px 0px 20px var(--dark-color-1-01);

}

.over_view{

    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../../Images/auth_bg.avif);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.5s;
    z-index: 90;

}

.over_view::before{

    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--dark-color-1);
    opacity: 0.5;

}

.scale_big{

    scale: 1.1;

}

.translate_left{

    left: 0%;
    top: 0%;

}

.over_det{

    padding: 0px 4.5%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    z-index: 1;

}

.opacity_frame{

    animation: changeType 1s;

}

@keyframes changeType {

    from {opacity: 0;}
    to {opacity: 1;}

}

.over_det h3{

    font-size: 56px;
    font-weight: 700;
    line-height: 120%;
    color: var(--light-color);

}

.over_det p{

    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    color: var(--light-color);

}

.change_cont{

    width: 100%;
    display: flex;
    justify-content: flex-start;

}

.change_cont button{

    width: fit-content;
    padding: 12px 24px;
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 16px;
    color: var(--dark-color-1);
    border-radius: 5px;
    border: 1px solid var(--light-color);
    cursor: pointer;
    transition: 0.3s;

}

.change_cont button:hover {

    color: var(--light-color);
    background-color: transparent;

}

.form{

    position: absolute;
    width: 50%;
    height: 100%;
    padding: 0px 4.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

}

.login{

    top: 0%;
    left: 0%;

}

.register{

    top: 0%;
    right: 0%;

}

#opacity_low{

    transition: 0.2s;
    opacity: 0.6 !important;

}

.verify_msg{

    width: 100%;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: var(--dark-color-2);
    border-radius: 5px;
    background-color: var(--dark-color-1-01);

}

.input_cont{

    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.input_cont label{

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.label_title{

    font-size: 18px;
    color: var(--dark-color-1);

}

.label_error_msg{

    font-size: 9px;
    color: var(--dark-color-2);

}

.input_cont input{

    width: 100%;
    height: 40px;
    padding: 10px;
    padding-right: 40px;
    font-size: 16px;
    color: var(--dark-color-1);
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--dark-color-1);
    background-color: transparent;

}

.input_cont input::placeholder{

    color: var(--dark-color-1);
    opacity: 0.5;

}

.loader {

    position: absolute;
    right: 10px;
    bottom: 15px;
    width: 20px;
    height: 10px;
    background: linear-gradient(var(--dark-color-1) calc(1 * 100% / 6),
            transparent 0 calc(3 * 100% / 6),
            var(--dark-color-1) 0),
        linear-gradient(var(--dark-color-1) calc(2 * 100% / 6),
            transparent 0 calc(4 * 100% / 6),
            var(--dark-color-1) 0),
        linear-gradient(var(--dark-color-1) calc(3 * 100% / 6),
            transparent 0 calc(5 * 100% / 6),
            var(--dark-color-1) 0);
    background-size: 5px 400%;
    background-repeat: no-repeat;
    animation: matrix 1s infinite linear;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;

}

@keyframes matrix {
    0% {
        background-position: 0% 100%, 50% 100%, 100% 100%;
    }

    100% {
        background-position: 0% 0%, 50% 0%, 100% 0%;
    }
}

.input_cont:focus-within .loader {

    opacity: 1;
    visibility: visible;

}

.eye_cont{

    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.eyes{

    position: relative;
    width: 20px;
    height: 20px;

}

.eyes .icon_cont{

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

}

.eyes .icon_cont img{

    width: 100%;
    height: 100%;

}

.check_box input {
    display: none;
}

.check_box {

    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
    -webkit-tap-highlight-color: transparent;

}

.checkmark {

    position: relative;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border-radius: 5px;
    transition: all 0.25s;

}

.check_box input:checked~.checkmark {

    background-color: var(--dark-color-1);

}

.checkmark:after {

    content: "";
    position: absolute;
    transform: rotate(0deg);
    border: 1px solid var(--dark-color-1);
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    transition: all 0.25s, border-width 0.1s;

}

.check_box input:checked~.checkmark:after {

    left: 7px;
    top: 4px;
    width: 4px;
    height: 8px;
    border-color: var(--dark-color-1) var(--light-color) var(--light-color) var(--dark-color-1);
    border-width: 0 2.5px 2.5px 0;
    border-radius: 0px;
    transform: rotate(45deg);

}

.check_box p {

    font-size: 14px;
    color: var(--dark-color-1);

}

.submit{

    width: 100%;
    padding: 12px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: var(--light-color);
    border-radius: 5px;
    border: 1px solid var(--dark-color-1);
    background-color: var(--dark-color-1);
    cursor: pointer;

}

/* ====== responsive-style ====== */

@media(max-width: 1155px){

    .auth_box{

        width: 100% !important;

    }

}

@media(max-width: 727px){

    .auth_box{

        height: 1000px !important;
        border-radius: 10px !important;

    }

    .over_view , .form{

        width: 100%;
        height: 50%;

    }

    .over_det h3{

        font-size: 45px !important;

    }

    .over_det p{

        font-size: 12px !important;

    }

    .change_cont button{

        padding: 8px 16px !important;
        gap: 8px !important;
        font-size: 14px !important;

    }

    .login{

        top: 0% !important;

    }

    .register{

        top: 50% !important;

    }

    .over_view{

        left: 0% !important;
        top: 50%;

    }

    .translate_left{

        left: 0%;
        top: 0%;

    }

    .input_cont label , .input_cont input , .submit {

        font-size: 14px !important;

    }

}