.card{

    width: calc(25% - 15px);
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: var(--dark-color-1-001);

}

.card img{

    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;

}

.card h3{

    font-size: 18px;
    font-weight: 600;
    line-height: 150%;
    color: var(--dark-color-1);

}

.card p{

    font-size: 16px;
    line-height: 150%;
    color: var(--dark-color-1);

}

.card span{

    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    color: var(--dark-color-1);

}

@media(max-width: 1055px){

    .card{

        width: calc(calc(100% / 3) - calc(20px - calc(20px / 3))) !important;

    }

    .card img{

        height: 330px;

    }

}

@media(max-width: 791px){

    .card{

        width: calc(50% - 10px) !important;

    }

    .card img{

        height: 350px;

    }

}

@media(max-width: 525px){

    .card{

        width: 100% !important;

    }

    .card img{

        height: fit-content;
        max-height: 450px;

    }

}