.container{

    width: 100%;
    padding: 80px 4.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    color: var(--dark-color-1);

}

.container h3{

    font-size: 48px;
    font-weight: 700;
    line-height: 120%;

}

.container p{

    font-size: 18px;
    line-height: 150%;
    text-align: center;

}

.numbers{

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.numbs_cont{

    width: 25%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;

}

.numbs_cont p{

    font-size: 40px;
    font-weight: 700;
    line-height: 120%;

}
.numbs_cont span{

    font-size: 16px;
    line-height: 150%;

}

/* ====== responsive-style ====== */

@media(max-width: 629px){

    .numbs_cont{

        width: 50% !important;

    }

}

@media(max-width: 480px){

    .container h3{

        font-size: 32px !important;

    }

    .container p{

        font-size: 16px !important;

    }

    .numbs_cont p{

        font-size: 20px !important;

    }

    .numbs_cont span{

        font-size: 14px !important;

    }

}