.container{

    width: 100%;
    padding: 80px 4.5%;
    display: flex;
    flex-direction: column;
    gap: 60px;
    overflow-x: hidden;

}

.title{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;

}

.title h3{

    font-size: 48px;
    font-weight: 700;
    line-height: 120%;
    color: var(--dark-color-1);

}

.title p{

    font-size: 18px;
    line-height: 150%;
    color: var(--dark-color-1);

}

.filter{

    width: 100%;
    overflow: auto;

}

.filter_scroll{

    min-width: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

}

.filter::-webkit-scrollbar{

    display: none;

}

.filter li{

    padding: 8px 16px;
    font-size: 16px;
    line-height: 150%;
    color: var(--dark-color-1);
    border-radius: 25px;
    transition: 0.3s;
    cursor: pointer;

}

.card_cont{

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}

/* ====== responsive-style ====== */

@media(max-width: 575px){

    .title h3{

        font-size: 32px;
        line-height: 130%;
        text-align: center;

    }

    .title p{

        font-size: 14px;
        text-align: center;

    }

}