.container {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-color);
    z-index: 101;
    transition: 0.7s;

}

.span {

    position: fixed;
    top: 20px;
    right: 4.5%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: var(--light-color);
    border-radius: 50%;
    background-color: var(--dark-color-1);
    cursor: pointer;

}

.form {

    width: 100%;
    padding: 0px 4.5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.input {

    width: 38%;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    color: var(--dark-color-1);
    outline: none;
    border: none;
    border: 1px solid var(--dark-color-1);
    border-radius: 5px;
    background-color: var(--light-color);

}

.button {

    padding: 10px 20px;
    font-size: 18px;
    font-weight: 500;
    color: var(--light-color);
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: var(--dark-color-1);
    cursor: pointer;
    transition: 0.3s;

}

.button:hover {

    color: var(--dark-color-1);
    border-color: var(--dark-color-1);
    background-color: var(--light-color);

}

/* ====== responsive-style ====== */

@media(max-width: 1060px) {

    .span {

        top: 50px;

    }

}

@media(max-width: 578px) {

    .input {

        width: 100% !important;

    }

    .button {

        width: 100% !important;

    }

    .span {

        width: 30px !important;
        height: 30px !important;
        font-size: 20px !important;

    }

}