.main{

    width: 100%;
    height: 82.9svh;
    overflow: hidden;

}

.container{

    position: relative;
    width: 100%;
    height: 100%;
    padding: 0px 4.5%;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.container::before{

    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dark-color-1);
    opacity: 0.5;
    z-index: 0;

}

.main_det{

    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: var(--light-color);
    z-index: 1;

}

.main_det h3{

    font-size: 56px;
    font-weight: 400;
    line-height: 120%;

}

.main_det span{

    font-weight: 700;

}

.main_det p{

    font-size: 18px;
    line-height: 150%;

}

.det_btns{

    display: flex;
    align-items: center;
    gap: 16px;

}

.det_btns a{

    padding: 12px 24px;
    font-size: 16px;
    border-radius: 5px;
    transition: 0.3s;

}

.det_btns a:nth-child(1) , .det_btns a:nth-child(2):hover{

    color: var(--dark-color-1);
    border: 1px solid var(--light-color);
    background-color: var(--light-color);

}

.det_btns a:nth-child(2) , .det_btns a:nth-child(1):hover{

    color: var(--light-color);
    border: 1px solid var(--light-color);
    background-color: transparent;

}

/* ====== responsive-style ====== */

@media(max-width: 553px){

    .main_det{

        width: 100% !important;

    }

    .main_det h3{

        font-size: 45px !important;

    }

    .main_det p{

        font-size: 16px !important;

    }

    .det_btns a{

        font-size: 14px !important;

    }

}

@media(max-width: 419px){

    .main_det {
    
        width: 100% !important;

    }

    .main_det h3 {

        font-size: 35px !important;

    }

    .main_det p {

        font-size: 14px !important;

    }

    .det_btns a {

        font-size: 12px !important;

    }

}