.container{

    width: 100%;
    padding: 80px 4.5%;
    display: flex;
    flex-direction: column;
    gap: 48px;
    overflow: hidden;

}

.title{

    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: var(--dark-color-1);
    /* overflow: hidden; */

}

.title h3{

    font-size: 48px;
    font-weight: 700;
    line-height: 120%;

}

.title p{

    font-size: 18px;
    line-height: 150%;

}

.cont_scroll{

    width: 100%;
    overflow: hidden;

}

.scroll{

    width: calc(100% * 4);
    padding: 20px 8px;
    display: flex;
    gap: 16px;
    transition: 0.3s;

}

.actions{

    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;

}

.actions button{

    width: 40px;
    height: 40px;
    font-size: 16px;
    color: var(--dark-color-1);
    border: none;
    border-radius: 50%;
    background-color: var(--light-color);
    box-shadow: 0px 0px 10px var(--dark-color-1-01);
    cursor: pointer;
    transition: 0.3s;

}

/* ====== responsive-style ====== */

@media(max-width: 879px) {

    .scroll{

        width: calc(100% * 6) !important;

    }

}

@media(max-width: 583px) {

    .scroll{

        width: calc(100% * 12) !important;

    }

    .title h3{

        font-size: 28px !important;

    }

    .title p{

        font-size: 14px !important;

    }

}